h1 {
    color: #FCA205;
}

 li.vertical-nav  a {
        width: 200px;
        margin-left: 10%;
 }

 ul.vertical-nav{
     width: 200px;
     display: inline-block;
     float: left;
 }

 div.fixedheader {
        display: inline-block;
        margin-left: 10%;
        margin-bottom: 40px;
 }

#id_upload_pdf-pdf_container{
    min-height: 500px;
}

#id_upload_pdf-pdf_container > div.btn{
    float:right;
    margin-top: 25%;
}

#id_upload_pdf-pdf_container > div.file-path-wrapper{
    margin-top: 25%;
}

#id_upload_pdf-pdf_container{
    border: dashed;
    border-width: 2px;
}

body > div.container > div > div > form > button{
    float:right;
}

