h1 {
    color: #FCA205;
}

 li.vertical-nav  a {
        width: 200px;
        margin-left: 10%;
 }

 ul.vertical-nav{
     width: 200px;
     display: inline-block;
     float: left;
 }

 div.fixedheader {
        display: inline-block;
        margin-left: 10%;
        margin-bottom: 40px;
 }

#id_upload_pdf-pdf_container{
    min-height: 500px;
}

#id_upload_pdf-pdf_container > div.btn{
    float:right;
    margin-top: 25%;
}

#id_upload_pdf-pdf_container > div.file-path-wrapper{
    margin-top: 25%;
}

#id_upload_pdf-pdf_container{
    border: dashed;
    border-width: 2px;
}

body > div.container > div > div > form > button{
    float:right;
}

#id_create_policy-frequency select{
    display: inline !important;
}

.regdropdown{
    display: inline !important;
}

.borderless{
    border:none;
}

body > div.container > div > div > div.center-align > table{
    width:60%;
    border: none;
    font-size: 12px;
    margin: 0 auto;
}

body > div.container > div > div > div.center-align > table > tbody > tr:nth-child(n) > td:nth-child(n){
    border: none;
}

.image-deets{

}