h1 {
    color: #FCA205;
}

 li.vertical-nav  a {
        width: 200px;
        margin-left: 10%;
 }

 ul.vertical-nav{
     width: 200px;
     display: inline-block;
     float: left;
 }

 div.fixedheader {
        display: inline-block;
        margin-left: 10%;
        margin-bottom: 40px;
 }