{% extends 'base.html' %}
{% load material_form %}
{% load bootstrap3 %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<h1>Import new policy</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {% form form=wizard.form %}

                {% endform %}
            {% endfor %}
    {% else %}
        {% form form=wizard.form %}{% endform %}
    {% endif %}
    <hr>
    <a href="{% url 'policies_list' %}" class="btn pull-left">Cancel</a>
    <button type="submit" name="_submit" class="btn pull-right">Next</button>
</form>
{% endblock %}