{% extends 'base.html' %}
{% load bootstrap3 static %}

{% block content %}
<div>
    <h1>My Policies</h1>
    <a class="btn pull-right" href="policy/new/" id="policy-new">New Policy</a>
    <br/>
    <br/>
</div>
    {% for policy in policies %}
        <div>
            <p><a href="{% url 'policy_detail' pk=policy.pk %}">{{ policy.policy_number }}</a></p>
            <p>Carrier Name: {{ policy.carrier_name }}</p>
            <p>Start Date: {{ policy.start_date }}</p>
            <p>End Date: {{ policy.end_date }}</p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}