{% extends 'base.html' %}
{% load material_form %}
{% load bootstrap3 %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<h1>Want to find policies easier? Pick an icon!</h1>
<form action="" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {% form form=wizard.form %}
                {% endform %}
            {% endfor %}
    {% else %}
        {% form form=wizard.form %}{% endform %}
    {% endif %}
    <hr>
    <button type="submit" name="_submit" class="btn">Submit</button>
</form>
{% endblock %}