{% extends 'base.html' %}
{% load bootstrap3 static %}

{% block content %}
<div>
    <h1>My Policies</h1>
    <a class="btn btn-primary pull-right" id="policy-new" href="#" data-toggle="modal" data-target="#modal">New Policy</a>
    <br/>
    <br/>
</div>
    {% for policy in policies %}
        <div>
            <p><a href="{% url 'policy_detail' pk=policy.pk %}">{{ policy.policy_number }}</a></p>
            <p>Carrier Name: {{ policy.carrier_name }}</p>
            <p>Start Date: {{ policy.start_date }}</p>
            <p>End Date: {{ policy.end_date }}</p>
        </div>
        <hr>
    {% endfor %}

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="New Policy">
    </div>
    <script src="{% static 'js/center.modal.js' %}"></script>
    <script type="text/javascript">
        $("#policy-new").on('click', function () {
            $('#modal').load("{% url 'policy_new' %}").show();
        });

    </script>
{% endblock %}